@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 3px;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #eef0f5;
    color: #1e293b;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

/* CONTENEDOR PRINCIPAL */
.app-shell {
    width: 100%;
    max-width: 414px;
    height: 100dvh; /* mejor que 100vh en móviles modernos */
    margin: 0 auto;
    background-color: #f8fafc;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

/* HEADER */
header {
    flex-shrink: 0; /* nunca reduce tamaño */
}

/* CONTENIDO */
.view-container {
    flex: 1; /* ocupa el espacio restante */
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* NAVBAR */
nav {
    flex-shrink: 0; /* nunca empuja contenido */
}

/* VISTAS */
.view {
    display: none;
    animation: fadeIn 0.25s ease;
}

.view.active {
    display: block;
}

   .expand-content { max-height: 0; overflow: hidden; transition: max-height 0.4s ease; }
        .item-expand.open .expand-content { max-height: 1000px; }
        .item-expand.open .chevron-icon { transform: rotate(180deg); }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

/* BOTONES */
button {
    transition: all 0.15s ease;
    cursor: pointer;
}

button:active {
    transform: scale(0.96);
    opacity: 0.85;
}

/* NAV ACTIVO */
.nav-active {
    color: #4f46e5 !important;
    background: #eef2ff;
}

/* TOAST */
#toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-120px);
    transition: transform 0.3s ease;
    z-index: 999;
}

#toast.show {
    transform: translateX(-50%) translateY(0);
}